
input[type=text],
input[type=password],
input[type=number],
input[type=date],
select,
textarea {
    border: 1px solid #eee!important;
    padding: 0 10px!important;
    font-size: 16px;
}
input[type=text],
input[type=password],
input[type=number],
input[type=date] {
    line-height: 40px;
    box-sizing: border-box;
}
input[type=number] {
    padding-right: 0!important;
}
select {
    border-radius: 5px;
    padding: 10px!important;
    margin-top: 0!important;
}

.button {
    border: 1px solid #E60024;
    border-radius: 50px;
    padding: 7px 40px;
    font-size: 16px;
    box-sizing: border-box;
    line-height: 32px;
    text-align: center;
    color: #E60024;
    background-color: white;
}
.button-color-red {
    background-color: #E60024;
    color: white;
}
.button-group {
    /*border: 1px solid red;*/
    text-align: center;
    line-height: 32px;
    box-sizing: border-box;
    margin: 20px;
}
.write-container .line-wrap .input-wrap {
    padding: 10px!important;
}
/* labeled-input-wrap */
.labeled-input-wrap {
    display: flex;
    align-items: center;
}
.label-right input {
    margin-right: 10px!important;
}
.label-right label {

}
/* input-wrap */
.input-wrap {
    box-sizing: border-box;
}
/* address-input-wrap */
.address-input-wrap {

}
.address-input-wrap input[type=text]:first-child {
    width: 50%!important;
    margin-right: 10px;
}
.address-input-wrap button {
    vertical-align: top;
    padding: 10px;
}
.address-input-wrap input[type=text]:last-child {
    border: 1px solid blue;
    margin-top: 10px;
}
/* tri */
#company-write .write-container .line-wrap .border {
    padding: 10px 10px 10px 0;
    border: none!important;
}
#company-write .write-container .line-wrap .border:first-child {
    padding-left: 10px;
}
#company-write .sub {
    margin-top : 5px;
    bottom: 0!important;
}
/* file-uploader */
/*.file-uploader-wrapper {
    padding: 0!important;
}*/
.file-uploader-wrapper .file-uploader {
    margin: 0;
    border: 0;
    border-radius: 0;
}
.write-container .line-wrap .file-uploader-wrapper {
    width: calc(100% - 120px);
    padding: 0!important;
    width: 80%;
}
/* editor-input-wrap */
.editor-input-wrap {
    width: 80%;
    padding: 0!important;
    min-height: 400px;
}
/* 걸오온 발자취 */
.board-view-wrap01 .cont {
    height: auto!important;

}
/* 메인화면 오버로드 */
#main .info-slide-container .info-slide-wrap .thumbnail {
    height: 225px;
}
#main .company-list-container .list-item .list-wrapper .img-wrap {
    overflow: hidden;
}
/* 참여업체 상세 오버로드 */
/*
#company-detail .video-container .video-wrap,
#company-detail section .promotion-wrap .item .video-wrap{
    border: 1px solid #eee;

}
*/