<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p [%c] %m%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="java.sql" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="egovframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
          <!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="org.springframework" level="ERROR" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <!-- 이상진 추가 2020-12-17 : http client log 제외 처리 -->
        <logger name="org.apache.http.headers" level="ERROR">
            <AppenderRef ref="console" />
        </logger>
        <logger name="org.apache.http.wire" level="ERROR">
            <AppenderRef ref="console" />
        </logger>
        <logger name="org.apache.http.wire" level="ERROR">
            <AppenderRef ref="console" />
        </logger>
        <logger name="httpclient.wire.header" level="ERROR">
            <AppenderRef ref="console" />
        </logger>
        <logger name="httpclient.wire.content" level="ERROR">
            <AppenderRef ref="console" />
        </logger>
        <Root level="ERROR">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
