@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
 p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, h2, h3, h4, h5, h6,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Noto Sans KR', sans-serif;
    color: #333;
    letter-spacing: -0.05em;
    line-height: 1.4em;
    word-break: keep-all;
}
h1{
    font-family: 'GmarketSansMedium', sans-serif;
    color: #333;
    letter-spacing: -0.05em;
    font-weight: 300;
    margin: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input[type=submit] {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}
a {color: #000; text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none; }
strong{
    font-weight: 600;
}
/*  Responsive  */
@media (max-width: 768px) {
    h1{
        font-size: 30px;
    }
    section h1{
        font-size: 22px;
    }
}
@media (max-width: 768px) {
    h1{
        font-size: 28px;
    }
    section h1{
        font-size: 20px;
    }
}
